/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;  /* Sayfanın minimum yüksekliğini %100 yaparak, footer'ı alt tarafa çekiyoruz */
    display: flex;
    flex-direction: column;
}

/* Başlık ve Menü Stilleri */

/* Blog Gönderisi Başlıklarını Ortalamak */
.blog-content h2,
.blog-content h3 {
    text-align: center;  /* Başlıkları ortalar */
}

.blog-content p {/* Blog Gönderisi Paragraflarını Ortalamak */
    text-align: center;/* Paragrafları ortalar */
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #444;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #666;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #888;
}

/* Blog İçeriği */
.blog-summary article,
.blog-content article {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

h3 {
    color: #444;
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;  /* Bu kısım footer'ı sayfa sonunda yapışık hale getirir */
}
